{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Пробный блог{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="menu__logo"><a href="/">Моя страница</a></li>
                <li class="menu__item"><a href="/">Главная</a></li>
                <li class="menu__item"><a href="#">Случайный пост</a></li>
                <li class="menu__item"><a href="#">Мой профиль</a></li>
                <li class="menu__item"><a href="#">Настройки</a></li>
                <li class="toogle"><a href="#"><span class="bars"></span></a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>
