{% extends "base.html" %}

{% block content %}
    <div class="card mb-3">
        <img src="media/placeholder.jpg" class="img-fluid" alt="Мой блог" style="height: 400px;">
    </div>
    <div class="container">
        <div class="col-md-12">
            <h1 style="text-align: center">Recent Posts</h1>
        </div>
        <div class="card-group">
            {% for post in posts %}
                <div class="card">
                    <img class="img-thumbnail" src="{{ post.image.url }}">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><a href="/post/{{ post.slug }}">{{ post.title }}</a></small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

