{% extends "base.html" %}

{% block content %}
    <div class="album">
        <div class="container">
            <div class="album__row">
                <div class="album__content">
                    {% block entry %}{% endblock %}
                </div>
                <aside class="album__sidebar">
                    {% for post in posts %}
                        <div>
                            <div class="album__body"><a href="/post/{{ post.slug }}"><h4 class="album__title">{{ post.title }}</h4></a></div>
                            <div class="album__text">{{ post.summary }}</div>
                        </div>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>
{% endblock %}
